<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="utf-8">
    <title>Технопарк</title>
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta property="og:image" content="path/to/image.jpg">
    <link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="img/favicon/apple-touch-icon.png">
    <link rel="apple-touch-icon" sizes="72x72" href="img/favicon/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="114x114" href="img/favicon/apple-touch-icon-114x114.png">
    <link rel="stylesheet" href="libs/normalize-css/normalize.css">
    <link rel="stylesheet" href="css/fonts.min.css">
    <link rel="stylesheet" href="css/main.min.css">
    <link rel="stylesheet" href="libs/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <button id="btn-menu" class="header__btn-menu"></button>
            <div class="header__icons">
                <div class="header__icons--search"><i id="btn-search" class="fa fa-search"></i></div>
                <i id="btn-search" class="fa fa-shopping-cart"></i>
            </div>
            <div class="header__logo">
                Технопарк
            </div>
            <div class="header__phone">
                8 800 777 50 50
            </div>
            <form action="#" id="search-form" class="header__search">
                <input type="search" placeholder="Поиск товаров">
            </form>
            <nav class="nav-right">
                <a class="nav__item" href="#">Доставка и оплата</a>
            </nav>
            <nav id="nav-menu" class="nav">
                <a href="#" class="nav__item">Мобильные телефоны</a>
                <a href="#" class="nav__item">Планшеты</a>
                <a href="#" class="nav__item"><i class="fa fa-camera"></i>Фототехника</a>
                <a href="#" class="nav__item nav__item--selected">Link 4</a>
                <a href="#" class="nav__item">Мобильные телефоны</a>
            </nav>
            <nav class="nav-right">
                <a class="nav__item" href="#"><i id="btn-search" class="fa fa-shopping-cart"></i>Корзина</a>
            </nav>
        </div>
    </header>
